// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-primary-1: #fbeec1;
$color-primary-2: #efe2ba;
$color-primary-3: #eae7dc;
$color-primary-4: #ffdf6c;
$color-primary-5: #f7cb47;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// Reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	// color:$color-primary-dark-3;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	// sidebar 2 1fr columns that wrap the repeated 8 columns
	// those 2 1fr will shring first when window is collapsing
	// width to be between their minimum content and 140px
	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr)
		[full-end]; // 1140/8 = 142.5
}
