// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200/16 = 75
$bp-large: 62.5em; // 1000/16 = 62.5
$bp-medium: 50em; // 800/16 = 50
$bp-small: 37.5em; // 600/16 = 37.5

// Reset
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; // 1rem = 10px

	@media only screen and (max-width: $bp-largest) {
		font-size: 50%;
	}
}

body {
	font-family: $font-primary;
	color: $color-grey-dark-2;
	// color:$color-primary-dark-3;
	font-weight: 300;
	line-height: 1.6;
}

.container {
	display: grid;
	grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
	// sidebar 2 1fr columns that wrap the repeated 8 columns
	// those 2 1fr will shring first when window is collapsing
	// width to be between their minimum content and 140px
	grid-template-columns:
		[sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr)
		[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
		[center-end] minmax(6rem, 1fr)
		[full-end]; // 1140/8 = 142.5

	// sidebar on a row, removed from columns
	@media only screen and (max-width: $bp-large) {
		grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
		grid-template-columns:
			[full-start] minmax(6rem, 1fr)
			[center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
			[center-end] minmax(6rem, 1fr)
			[full-end];
	}
	// realtors row, header fills up view port - the sidebar
	@media only screen and (max-width: $bp-medium) {
		// grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(
		// 		3,
		// 		min-content)
		// the above is the same expect its implicit now
		grid-template-rows: 6rem calc(100vh - 6rem);
	}
}
